body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.side-menu {
  height: 100%;
  width: 280px;
  /* position: fixed;
  top: 0;
  left: 0; */
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
.side-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-menu-bottom ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  margin-left: 0;
}
.active {
  background-color: #713ca4 !important;
  color: #fff !important;
}
.side-menu-bottom ul li {
  list-style: none;
  background-color: #fff;
  font-size: 14px;
  width: 180px;
  height: 20px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.side-menu-bottom ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.sub-menu {
  background-color: #f8f8f8 !important;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.sub-nsm-li {
  background-color: #f8f8f8 !important;
}


.app-wrapper{
    display: flex;
    flex-direction: row;
}

.app-content{
    display: flex;
    flex-direction: column;
}

.content-wrapper{
    margin-top: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.xs-row{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
width: 100%;
}
.xs-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background-color: #fff;
}
.xscard-content {
    display: flex;
    flex-direction: column;
}
.xscard-content span{
    color: #b2b2b2;
    font-size: 14px;
}
.xscard-content h4{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
.xs-card img{
    width: 30px;
}

.qr-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.quick-links-card{
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}
.quick-links-card hr{
    border: 1px solid #E0E0E0;
}
.card-title{
    font-size: 14px;
    padding: 10px;
    padding-bottom: 0;
}
.card-content{
    padding: 0px 20px;
}
.rc-card-content{
    display: grid;
    grid-template-columns: 40% 60%;
}
.display-rate{
    padding: 10px;
    margin: auto 0;
}
.display-rate p{
    font-size: 12px;
    color: #b2b2b2;
    margin-bottom: 0;
}
.rate-converter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rate-converter span{
font-size: 12px;
color: #b2b2b2;
}
.rate-input-div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.rate-input-div label {
    font-size: 12px;
    color: #b2b2b2;
}
.rate-input-div input{
    border: none;
    width: 80%;
    /* padding:05px; */
    margin: 0;
}
.rate-input-div input:focus{
    border: none !important;
}
.rate-input{
    background-color: #fff;
    border: #b2b2b2 1px solid;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
}
.rate-input select{
    background-color: #713ca4;
    color: #fff;
    border-radius: 3px;
}
.second-hr{
    margin: 20px auto;
}
/* Reset some default styles for the table */
.table-container{
    border: #C0C7DD 1px solid;
    background-color: #fff;
    border-radius: 12px ;
}
.table-title{
    padding: 13px;
    font-size: 14px;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: small;

  }
  
  /* Style for table headings */
  th {
    background-color: #fff;
    padding: 13px;
    text-align: left;
    border-top: 1px solid #C0C7DD;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
  }
  
  /* Style for table data cells */
  td {
    padding: 13px;
    color: #333;
    border-top: 1px solid #C0C7DD; /* Add a top border to separate rows */
  }
  
  /* Remove borders for the first row (headings) and last cell in each row */
  th:first-child,
  td:last-child {
    border-left: none;
  }
  
  /* Remove borders for the last cell in the last row */
  tbody tr:last-child td {
    border-bottom: none;
  }