body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
nav {
  height: 5.5rem;
  width: 100vw;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 10;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw 1vh 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.logo a span.second {
  color: #a36f4a;
}
.logo img {
  height: 70px;
  width: 60px;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 60vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: #52246d;
  font-size: 18px;
  font-weight: 500;
}
/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}
/* Dropdown styles */
.dropdown-head {
  display: flex;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  padding: 20px;
}

.nav-links li:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .logo {
    padding: 1vh 1vw;
    text-align: center;
  }
  .nav-links {
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 993px) {
  div .row .img-container .logo img {
    height: 70px;
    width: 60px;
  }
}

.logoTop {
  height: 70px !important;
  width: 60px !important;
}

.hero-section {
  height: 100vh;
  padding: 0px 100px;
  padding-bottom: 0 !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("/assets/hero-bg.svg");
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-left h1 {
  color: #713ca4;
}
.hero-left h1 span {
  color: #d2ae6d;
}
.hero-left p {
  color: #7a7a7a;
}
.group-btn {
  margin-top: 30px;
  display: flex;
  gap: 50px;
}
.contained-btn {
  border: solid 2px #52246d;
  padding: 15px 35px;
  background-color: #52246d;
  color: #fff !important;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.outlined-btn {
  border: solid 1px #52246d;
  padding: 15px 35px;
  background-color: #fff;
  color: #52246d;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.underlined-btn {
  all: unset;
  /* padding: 15px 35px; */
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}
.arrow-btn{
  display: flex;
  justify-content: center;
transition: 1s;
gap: 7px;
}.arrow-btn:hover{
  gap: 20px;
  }
.arrow-btn img{
width: 24px;
}
/* .arrow-btn img:hover{
  width: 24px;
  padding-left: 20px;
  } */
.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.hero-img {
  width: 100%;
}
.trust-us {
  height: 100vh;
  padding: 0 100px;
  background-color: #f5eddf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.half-circle {
  position: absolute;
  right: 0;
  top: 0;
}

.trust-us h1 {
  color: #52246d;
  align-self: start;
}
.trust-us h1 span {
  color: #d2ae6d;
}
.trustUs-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.trustUs-content .left h3 {
  margin-bottom: 5px;
}
.trustUs-content .left ul {
  margin: 0;
  padding: 0;
}
.trustUs-content .left ul li {
  list-style: none;
  margin: 0;
  padding: 05px 0;
  color: #7a7a7a;
}
.trustUs-content .right {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.trustUs-content .right img {
  width: 90%;
}
.create-account {
  padding: 50px 100px;
}
.create-account h1 {
  color: #52246d;
}
.create-account h1 span {
  color: #d2ae6d;
}
.ca-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.ca-card-number {
  width: 35px;
  height: 35px;
  background-color: #d2ae6d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ca-card {
  padding: 30px;
}
.ca-card-number span {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.ca-card h3 {
  margin-bottom: 0px;
}
.exchange-rate-section{
  padding: 50px 100px;
  background-image: url("/assets/purple-bg.svg");
  height: 100%;
  display: grid;
  grid-template-columns: 40% 50%;
  grid-gap: 90px;
  overflow: hidden;
}
.exchange-rate-section .left{
display: flex;
flex-direction: column;
gap: 0;
align-items: start;
  }
.exchange-rate-section .left h1{
color: white;
margin-bottom: 0;
}
.exchange-rate-section .left h1 span{
  color: #d2ae6d;
  }
.no-worry {
  padding: 10px 100px;
  background-image: url("/assets/purple-bg.svg");
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 90px;
  overflow: hidden;
}
.no-worry span{
    margin-bottom: 30px;
}
.no-worry ul {
  margin: 0;
  padding: 0;
}
.no-worry ul li {
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.no-worry .left img {
  margin-bottom: -40px;
}
.no-worry .right {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer{
    padding: 100px;
}
.footer-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-top img{
    width: 100px;
}
.footer-top span{
    color: #7a7a7a;
}
.footer hr{
    border: #E5E5EA 1px solid;
    margin: 30px 0;
}
.footer-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-menu p{
    color: #7a7a7a;
}
.footer ul,
.footer ul {
  list-style-type: none; /* Remove default bullets */
  padding: 10px 0; /* Remove default padding */
}
.footer ul a,
.footer-right ul a {
  text-decoration: none;
}
.footer ul li,
.footer ul li {
  color: #52246d;
  font-size: 16px;
  position: relative;
  margin-bottom: 10px; /* Add spacing between list items */
  cursor: pointer;
  position: relative;
  border-left: white solid 2px;
}
.footer ul li:hover,
.footer ul li:hover {
  color: #a36f4a;
}
.footer-socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -20px;
}
.footer-socials img{

    cursor: pointer;
}